
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Cheat code</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body>

    <div class="container">
      <br>
      <p>Create a <a href="https://github.com/settings/tokens" target="_blank">personal access token</a> on github.com. Make sure to give yourself <i>repo</i> and <i>user</i> scopes.
      <br>
      <form class="form-signin" action="/cheat_code" method="POST">
        <input type="text" name="personal_token" id="personal_token" class="form-control" placeholder="Personal token" required autofocus>
	<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Set personal token</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>
